# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3
data/vector_store/
data/uniprep.db

# Temporary files
temp_*
.DS_Store
